.checkboxRegular-main-container {
  --background-color-checked: var(--checkbox-regular-checked-background);
  --background-color-unchecked: var(--checkbox-regular-unchecked-background);
  --border-color-unchecked: var(--checkbox-regular-unchecked-border);
  --border-color-checked: var(--checkbox-regular-checked-border);
  --checkmark-color: var(--checkbox-regular-checkmark);
  --width: 30px;
  --height: 30px;
  --font-size: 16px;
  width: var(--width);
  height: var(--height);

  /* Hide the default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom checkbox container */
  .checkbox-container {
    position: relative;
    font-size: var(--font-size);
    /* Make the checkbox slightly bigger */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .label-text {
    // white-space: nowrap;
    position: absolute;
    left: calc(var(--width) + 5px);
    transform: translateY(50%);
    user-select: none;
    font-size: 10px;
  }

  /* Style the checkmark */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    /* Make the checkbox slightly bigger */
    width: var(--width);
    /* Make the checkbox slightly bigger */
    border: 2px solid var(--border-color-unchecked);
    /* Add border for 3D effect */
    border-radius: 6px;
    /* Round the corners */
    background-color: var(--background-color-unchecked);

    /* Default color */
    transition: all 0.3s ease;
    /* Add smooth transition */
  }

  /* Show the checkmark when checkbox is checked */
  .checkbox-container input:checked~.checkmark:after {
    display: block;
    animation: checkboxExpand 0.3s ease forwards;
  }

  /* Style the checkmark/indicator */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    /* Center and hide initially, then scale to appear */
    width: 8px;
    /* Adjust size */
    height: 15px;
    /* Adjust size */
    border: solid var(--checkmark-color);
    /* Change color of the tick to white */
    border-width: 0 4px 4px 0;
    /* Adjust thickness and direction */
  }

  /* On hover, add a grey background color */
  .checkbox-container:hover .checkmark {
    background-color: var(--background-color-unchecked);
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    /* Add subtle shadow */
    transform: scale(1.05);
    /* Scale up slightly */
  }

  /* When the checkbox is checked, add a green background */
  .checkbox-container input:checked~.checkmark {
    background-color: var(--background-color-checked);
    border-color: var(--border-color-checked);
    /* Change border color */
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    /* Add shadow for 3D effect */
  }

  /* Keyframes for expanding animation */
  @keyframes checkboxExpand {
    0% {
      transform: translate(-50%, -50%) rotate(45deg) scale(0);
    }

    100% {
      transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }
  }
}