.nav-navigation {
    display: flex;
    font-weight: 800;
    font-size: 1.5rem;
    margin-right: 20px;
    
    a{
        color: var(--header-text-color);
        padding: 8px 16px;
        border-radius: 4px;
        text-decoration: none;
        font-weight: 800;
        transition: color .75s cubic-bezier(.4, 0, .2, 1);
        user-select: none;
    }

    a:hover{
        color: var(--header-text-active-background);
        cursor: pointer;
    }

    a.active {
        color: var(--header-text-color);
        background-color: var(--header-text-active-background);
    }

    .lang{
        text-transform: uppercase;
    }
}

@media screen and (max-width: 700px) {
    .nav-navigation {
        flex-flow: column nowrap;
    }

}