.main-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    min-width: 570px;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    background-color: var(--header-background);
    padding: 15px;
    grid-row: 1;
}

.title-combobox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: var(--main-background);
    grid-row: 2;
}

.application-title {
    max-width: fit-content;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    background-clip: text;
    color: transparent;
    transition: background-image 0.5s ease-in-out;
    background-image: linear-gradient(62deg, var(--title-color-gradient1) 0%, var(--title-color-gradient2) 100%);
}

.application-title:hover {
    background-image: linear-gradient(62deg, var(--title-color-gradient2) 0%, var(--title-color-gradient1) 100%);
}

// ComboBox
.combobox-item {
    display: inline-flex;
    cursor: pointer;
}

//media
@media print {

    // Ukrywane elementy
    .header {
        display: none;
    }
}

/* Mobile (do 480px) */
@media (max-width: 480px) {
    /* Stylowanie dla małych ekranów */
}

/* Tablet (od 481px do 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    /* Stylowanie dla tabletów */
}

/* Desktop (od 769px do 1024px i więcej) */
@media (min-width: 769px) {
    /* Stylowanie dla dużych ekranów */
}