.container-home-page {
        display: flex;
        flex-flow: column wrap;
        padding: 30px 10px;
        width: 100%;
        background-color: var(--main-background);
        color: var(--main-color);
        font-weight: 700;
        font-size: x-large;
        overflow: hidden;
        gap: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;

        .img-container {
                width: 300px;
                border-radius: 15px;
                overflow: hidden;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }

        .link {
                text-decoration: underline solid;
        }

        .link:hover {
                text-decoration: underline double;
        }

        .img-container-sadman {
                grid-area: imgSadman;
                max-width: 400px;
                justify-self: center;
                align-self: center;
                position: relative;
                display: inline-block;
                z-index: 1;
        }

        .img-container-sadman::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: url(../../images/homePage/phonbook-negative.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                z-index: -1;
                transform: translateY(10%) translateX(10%) scale(0.96);
                filter: blur(30px);
                border-radius: 25px;
        }

        .img-container-happyman {
                grid-area: imgHappyman;
                max-width: 400px;
                justify-self: center;
                align-self: center;
                position: relative;
                display: inline-block;
                z-index: 1;
        }

        .img-container-happyman::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: url(../../images/homePage/phonebook-positive.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                z-index: -1;
                transform: translateY(10%) translateX(10%) scale(0.96);
                filter: blur(30px);
                border-radius: 10px;
        }

        .img {
                display: block;
                border-radius: 25px;
                position: relative;
                z-index: 1;
        }

        .first-phrase-home-page {
                grid-area: firstPhrase;
                justify-self: center;
                align-self: center;
        }

        .second-phrase-home-page {
                grid-area: secondPhrase;
                justify-self: center;
                align-self: center;
        }
}