.container-home-page {
        display: grid;
        grid-template-areas:
                'imgSadman  secondPhrase'
                'firstPhrase  imgHappyman';
        padding: 30px 10px;
        width: 100%;
        background-color: var(--main-background);
        background-image: linear-gradient(180deg, var(--main-background) 0%, var(--header-background) 50%, var(--main-background) 100%);
        grid-template-rows: auto auto;
        column-gap: 10px;
        z-index: 1;
        color: var(--header-text-hover-color);
        font-weight: 600;
        font-size: larger;
        overflow: hidden;

        .img-container-sadman {
                grid-area: imgSadman;
                max-width: 400px;
                justify-self: center;
                align-self: center;
                position: relative;
                display: inline-block;
                z-index: 1;
        }

        .img-container-sadman::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: url(../../images/homePage/phonbook-negative.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                z-index: -1;
                transform: translateY(10%) translateX(10%) scale(0.96);
                filter: blur(30px);
                border-radius: 25px;
        }

        .img-container-happyman {
                grid-area: imgHappyman;
                max-width: 400px;
                justify-self: center;
                align-self: center;
                position: relative;
                display: inline-block;
                z-index: 1;
        }

        .img-container-happyman::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: url(../../images/homePage/phonebook-positive.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                z-index: -1;
                transform: translateY(10%) translateX(10%) scale(0.96);
                filter: blur(30px);
                border-radius: 10px;
        }

        .img {
                display: block;
                border-radius: 25px;
                position: relative;
                z-index: 1;
        }

        .first-phrase-home-page {
                grid-area: firstPhrase;
                justify-self: center;
                align-self: center;
        }

        .second-phrase-home-page {
                grid-area: secondPhrase;
                justify-self: center;
                align-self: center;
        }
}

.title {
        font-weight: 500;
        font-size: 48;
        text-align: center;
}