.container-home-page {
        display: flex;
        flex-flow: column wrap;
        padding: 30px 10px;
        width: 100%;
        background-color: var(--main-background);
        color: var(--main-color);
        font-weight: 700;
        font-size: x-large;
        overflow: hidden;
        gap: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;

        .img-container {
                width: 300px;
                border-radius: 15px;
                overflow: hidden;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }

        .link {
                text-decoration: underline solid;
                color: var(--main-color);
        }

        .link:hover {
                text-decoration: underline double;
        }


}